@model IEnumerable<Niveau.Areas.Admin.Models.Accounts.AccountViewModel>
@using Microsoft.AspNetCore.Identity
@using Niveau.Areas.Admin.Models
@using Niveau.Areas.Admin.Models.Accounts;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> UserRole

@{
    ViewData["Title"] = "Index";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Product</title>
</head>
<body>
    <h2>Account</h2>
    <a asp-area="Admin" asp-page="/Account/Register" class="btn btn-primary m-t-4"><i class="fa-solid fa-plus"></i> Create New</a>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">STAFF</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">CUSTOMER</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <div class="card">

                        <div class="card-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Actions</th>
                                        <!-- Add more columns if needed -->
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var account in Model)
                                    {
                                        if ((account.Roles.FirstOrDefault() == "Admin") || (account.Roles.FirstOrDefault() == "Employee"))
                                        {
                                            <tr>
                                                <td>@account.User.FirstName</td>
                                                <td>@account.User.LastName</td>
                                                <td>@account.User.Email</td>
                                                <td>@account.Roles.FirstOrDefault()</td>

                                                <td>

                                                    <a class="btn btn-success" asp-action="Details" asp-route-id="@account.User.Id"><i class="fa-solid fa-eye"></i> View</a> |

                                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@account.User.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a> |

                                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@account.User.Id"><i class="fa-solid fa-trash"></i> Delete</a>

                                                </td>
                                                <!-- Add more columns if needed -->
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <div class="tab-pane fade" id="tab-pane-2">
                    <div class="card">

                        <div id="accountListContainer" class="card-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                        <!-- Add more columns if needed -->
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var account in Model.OrderByDescending(p => p.User.Status))
                                    {
                                        if (account.Roles.FirstOrDefault() == "Customer")
                                        {
                                            <tr>
                                                <td>@account.User.FirstName</td>
                                                <td>@account.User.LastName</td>
                                                <td>@account.User.Email</td>
                                                <td>@account.Roles.FirstOrDefault()</td>
                                                <td style="color: @(account.User.Status ? "green" : "red");">
                                                    @((account.User.Status ? "Active" : "Disabled"))
                                                </td>
                                                <td>

                                                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@account.User.Id">View</a> |

                                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@account.User.Id">Edit</a> |

                                                    @if (account.User.Status == true)
                                                    {
                                                        <div style="display: inline-block;">
                                                            <a data-status="false" data-user-id="@account.User.Id" data-user-email="@account.User.Email" class="btn btn-danger toggleStatusButton"><i class="fa-solid fa-trash"></i> Disable</a>

                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div style="display: inline-block;">
                                                            <a data-status="true" data-user-id="@account.User.Id" class="btn btnActive toggleStatusButton"><i class="fa-solid fa-trash"></i> Active</a>
                                                        </div>
                                                    }

                                                    <!-- The Modal -->
                                                    
                                                <!-- Add more columns if needed -->
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

            </div>
            
            </td>
        </div>
    </div>
    <div class="modal fade" id="modalDisableAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lý do khóa tài khoản</h5>
                </div>
                <div class="modal-body">
                    <form id="editAccountForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="editAccountName" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="emailph" placeholder="Email" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editDescription" class="form-label">Mô tả</label>
                            <textarea class="form-control" id="editDescription" rows="3" placeholder="Nhập mô tả"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnEditChanges">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



 <style>
    .btnActive {
        background-color: green; /* Green background for the active state */
        color: white; /* White text color for better readability */
    }

</style>

 <script>
    $(document).ready(function () {
        // Attach click event to button to show the modal
        $('#accountListContainer').on('click', '.toggleStatusButton', function () {
            var modal = new bootstrap.Modal(document.getElementById('modalDisableAccount'), {
                keyboard: false
            });
            var accountId = $(this).data('user-id');
            var accountEmail = $(this).data('user-email');
            var desiredStatus = $(this).data('status');

            var confirmActionText = desiredStatus ? 'activate' : 'disable';


            var confirmAction = confirm('Are you sure you want to ' + confirmActionText + ' this account?');

            if (confirmAction && !desiredStatus) {
                $('#emailph').val(accountEmail);
                modal.show();
                $('#btnEditChanges').on('click', function () {
                    var description = $('#editDescription').val(); // Get the value of the description field

                    if (!description.trim()) {
                        // If description is empty, alert the user
                        alert('Please enter a description.');
                    } else {
                        $.ajax({
                            url: '@Url.Action("Status", "Accounts", new { area = "Admin" })', // Make sure this URL is rendered correctly
                            type: 'POST',
                            data: { id: accountId, state: desiredStatus, message: description },
                            success: function (response) {
                                $('#accountListContainer').load(location.href + ' #accountListContainer'); // Reload part of the page
                            },
                            error: function (xhr, status, error) {
                                var errorMsg = desiredStatus ? 'activating' : 'disabling';
                                console.error('Error ' + errorMsg + ' product:', error);
                            }
                        });
                        modal.hide();
                        console.log('Description is valid, perform your action here');

                    }
                });
            }
            else if (desiredStatus) {
                $.ajax({
                    url: '@Url.Action("Status", "Accounts", new { area = "Admin" })', // Make sure this URL is rendered correctly
                    type: 'POST',
                    data: { id: accountId, state: desiredStatus, message: null },
                    success: function (response) {
                        $('#accountListContainer').load(location.href + ' #accountListContainer'); // Reload part of the page
                    },
                    error: function (xhr, status, error) {
                        var errorMsg = desiredStatus ? 'activating' : 'disabling';
                        console.error('Error ' + errorMsg + ' product:', error);
                    }
                });
                console.log('Description is valid, perform your action here');

            }

            $('#close').on('click', function () {
                modal.hide();
                console.log("Modal closed. Resetting form or clearing data.");
                // Reset the form or specific fields if necessary
                $('#editAccountForm').trigger('reset');
            });
        });

        // Save changes button click event
        

        // Optionally, you can handle the modal close click to clear form or reset states
        
    });
</script>

@*  <script>
    $(document).ready(function () {
        $('#accountListContainer').on('click', '.toggleStatusButton', function () {
            var modal = new bootstrap.Modal(document.getElementById('modalDisableAccount'), {
                keyboard: false
            });
            var accountId = $(this).data('user-id');
            var desiredStatus = $(this).data('status');
            var confirmActionText = desiredStatus ? 'activate' : 'disable';


            var confirmAction = confirm('Are you sure you want to ' + confirmActionText + ' this account?');

            if (confirmAction) {
                modal.show();

                $('#btnEditChanges').on('click', function ()){
                    if ()
                }

            }
        });
    });

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script> *@
@*  *@




