@model IEnumerable<Niveau.Areas.Admin.Models.Products.Product>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";

}
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<section class="py-2">
    <div id="productCartContainer" class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justifycontent-center">
            @foreach (var item in Model)
            {

                <div class="col mb-5">
                    <div class="card gap-3" style="width: 18rem">
                        <img src="@item.ImageUrl" class="card-img-top" alt="..."
                             style="height: 300px">
                        <div class="card-body">
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => item.Name)
                            </h5>
                            <div class="d-flex">
                                <span>Price: </span>
                                <p class="mx-3">@item.Price.ToString("#,##0") Vnđ</p>
                            </div>
                            @* asp-controller="ShoppingCart" asp-action="AddToCart"
                                asp-router-productId="@item.Id" asp-router-quantity="@numOfQuatity"*@
                            <a class="btn btn-outline-dark toggleButton"
                               data-product-id="@item.Id">

                                <i class="bi-cart-fill me-1"></i> Add to Cart

                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#productCartContainer').on('click', '.toggleButton', function () {
            var productId = $(this).data('product-id');
            var quantity = 1;

                $.ajax({
                    url: '@Url.Action("AddToCart", "ShoppingCart", new { area = "User" })', // Make sure this URL is rendered correctly
                    type: 'POST',
                    data: { productId: productId, quantity: quantity },
                    success: function () {
                        toastr.success("Thêm giỏ hàng thành công.", "", {
                            timeOut: 2000,
                            progressBar: true,
                            closeButton: true
                        });
                    },
                    error: function () {
                        toastr.error("Lỗi... Thêm sản phẩm vào giỏ hàng không thành công.", "", {
                            timeOut: 2000,
                            progressBar: true,
                            closeButton: true
                        });
                    }
                });

        });
    });
</script>