

<!DOCTYPE html>
<html lang="en">
@model Niveau.Areas.Admin.Models.Products.ProductListViewModel

@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <meta charset="utf-8">
    <title>Men's Fashion Sale Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/UserLTE/~/UserLTE/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/UserLTE/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/UserLTE/css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="https://localhost:7030" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">
                        <span class="text-primary font-weight-bold border px-3 mr-1">
                            N
                        </span>
                        Niveau
                    </h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" id="productSearch" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <button id="searchbtn" class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a class="btn btn-outline-primary" type="submit" asp-area="User" asp-controller="ShoppingCart" asp-action="Index" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Áo Nam <i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a asp-area="Admin" asp-controller="Categories" asp-action="Filter" asp-route-subcategoryId="1" class="dropdown-item">Áo Polo</a>
                                <a asp-area="Admin" asp-controller="Categories" asp-action="Filter" asp-route-subcategoryId="2" class="dropdown-item">Áo Sơ Mi</a>
                                <a asp-area="Admin" asp-controller="Categories" asp-action="Filter" asp-route-subcategoryId="3" class="dropdown-item">Áo Thể Thao</a>
                                <a asp-area="Admin" asp-controller="Categories" asp-action="Filter" asp-route-subcategoryId="4" class="dropdown-item">Áo Thun</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Quần Nam <i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a asp-area="Admin" asp-controller="Categories" asp-action="Filter" asp-route-subcategoryId="5" class="dropdown-item">Quần Kaki</a>
                                <a asp-area="Admin" asp-controller="Categories" asp-action="Filter" asp-route-subcategoryId="6" class="dropdown-item">Quần Lót</a>
                            </div>
                        </div>
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Filter" asp-route-subcategoryId="7" class="nav-item nav-link">Mũ</a>
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Filter" asp-route-subcategoryId="8" class="nav-item nav-link">Túi xách</a>
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Filter" asp-route-subcategoryId="9" class="nav-item nav-link">Thắt Lưng</a>
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Filter" asp-route-subcategoryId="10" class="nav-item nav-link">Set Quần Áo</a>
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Filter" asp-route-subcategoryId="11" class="nav-item nav-link">Giày</a>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a asp-controller="Home" asp-action="Index" asp-area="User" class="nav-item nav-link">Home</a>
                            <a class="nav-item nav-link active">Shop</a>
                            <div class="nav-item dropdown">
                                @* <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                    <div class="dropdown-menu rounded-0 m-0">
                                    <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                                    </div> *@
                            </div>
                            <a asp-area="User" asp-controller="Home" asp-action="Contact" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <div class="mb-4 pb-4">
                </div>
                <div class="mb-4 pb-4">
                </div>
                <div class="mb-4 pb-4">
                </div>
                <div class="mb-4 pb-4">
                </div>
                <div class="mb-4 pb-4">
                </div>
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="price-all">
                            <label class="custom-control-label" for="price-all">All Price</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-1">
                            <label class="custom-control-label" for="price-1">$0 - $100</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-2">
                            <label class="custom-control-label" for="price-2">$100 - $200</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-3">
                            <label class="custom-control-label" for="price-3">$200 - $300</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-4">
                            <label class="custom-control-label" for="price-4">$300 - $400</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="price-5">
                            <label class="custom-control-label" for="price-5">$400 - $500</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div>
                <!-- Price End -->
                <!-- Color Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by color</h5>
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="color-all">
                            <label class="custom-control-label" for="price-all">All Color</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Black</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-2">
                            <label class="custom-control-label" for="color-2">White</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-3">
                            <label class="custom-control-label" for="color-3">Red</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-4">
                            <label class="custom-control-label" for="color-4">Blue</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="color-5">
                            <label class="custom-control-label" for="color-5">Green</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div>
                <!-- Color End -->
                <!-- Size Start -->
                <div class="mb-5">
                    <h5 class="font-weight-semi-bold mb-4">Filter by size</h5>
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="size-all">
                            <label class="custom-control-label" for="size-all">All Size</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-1">
                            <label class="custom-control-label" for="size-1">XS</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-2">
                            <label class="custom-control-label" for="size-2">S</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-3">
                            <label class="custom-control-label" for="size-3">M</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-4">
                            <label class="custom-control-label" for="size-4">L</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="size-5">
                            <label class="custom-control-label" for="size-5">XL</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div>
                <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->
            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12" id="productCartContainer">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search by name">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <div class="dropdown ml-4">
                                <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Sort by
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                    <a class="dropdown-item" href="#">Latest</a>
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="#">Best Rating</a>
                                </div>
                            </div>
                        </div>
                    </div>
                        @foreach (var product in Model.Products)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                                <div class="card product-item border-0 mb-4">
                                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                        <a asp-controller="Products" asp-action="User_Details" asp-route-id="@product.Id" asp-route-title="@product.Name"><img class="img-fluid w-100" src=@product.ImageUrl alt=""></a>
                                    </div>
                                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                        <h6 class="text-truncate mb-3">@product.Name</h6>
                                        <div class="d-flex justify-content-center">
                                            <h6>$@product.Price</h6><h6 class="text-muted ml-2"><del>$@(product.Price + product.Price / 5)</del></h6>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-between bg-light border">
                                        <a asp-controller="Products" asp-action="User_Details" asp-route-id="@product.Id" asp-route-title="@product.Name" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                        <a data-product-id="@product.Id" class="btn btn-sm text-dark p-0 toggleButton"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        }



                        <div class="col-12 pb-1">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center mb-3">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    @if (Model.TotalPages > 1)
                                    {
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                @for (int i = 1; i <= Model.TotalPages; i++)
                                                {
                                                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                                    </li>
                                                }
                                            </ul>
                                        </nav>
                                    }
                                    else
                                    {
                                        <li class="page-item active">
                                            <a class="page-link">1</a>
                                        </li>
                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Shop Product End -->
            </div>
        </div>
        <!-- Shop End -->
        <!-- Footer Start -->
        <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
            <div class="row px-xl-5 pt-5">
                <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                    <a href="" class="text-decoration-none">
                        <h1 class="mb-4 display-5 font-weight-semi-bold">
                            <span class="text-primary font-weight-bold border border-white px-3 mr-1">
                                Y
                            </span>
                            Fashion
                        </h1>
                    </a>
                    <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore amet erat.</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>VinHomes Grand Park, Nguyễn Xiển, Long Thạnh Mỹ, Thủ Đức, TP.HCM</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>menfashionsale@gmail.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>0334 345 678</p>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" asp-area="User" asp-controller="Home" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Home</a>
                                <a class="text-dark mb-2" asp-area="Admin" asp-controller="Products" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                                <a class="text-dark mb-2" asp-area="User" asp-controller="ShoppingCart" asp-action="Index"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                                <a class="text-dark mb-2" asp-area="User" asp-controller="Home" asp-action="Contact"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                            <form action="">
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                           required="required" />
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top border-light mx-xl-5 py-4">
                <div class="col-md-6 px-xl-0">
                    <p class="mb-md-0 text-center text-md-left text-dark">
                        &copy; <a class="text-dark font-weight-semi-bold" href="#">Men's Fashion'</a>. All Rights Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed by <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">Men's Fashion'</a>
                    </p>
                </div>
                <div class="col-md-6 px-xl-0 text-center text-md-right">
                    <img class="img-fluid" src="~/UserLTE/img/payments.png" alt="">
                </div>
            </div>
        </div>
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="~/UserLTE/lib/easing/easing.min.js"></script>
        <script src="~/UserLTE/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Contact Javascript File -->
        <script src="~/UserLTE/mail/jqBootstrapValidation.min.js"></script>
        <script src="~/UserLTE/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="~/UserLTE/js/main.js"></script>
</body>

</html>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        $('#productCartContainer').on('click', '.toggleButton', function () {
            var productId = $(this).data('product-id');
            var quantity = 1;

            $.ajax({
                url: '@Url.Action("AddToCart", "ShoppingCart", new { area = "User" })', // Make sure this URL is rendered correctly
                type: 'POST',
                data: { productId: productId, quantity: quantity },
                success: function () {
                    toastr.success("Thêm giỏ hàng thành công.", "", {
                        timeOut: 2000,
                        progressBar: true,
                        closeButton: true
                    });
                },
                error: function () {
                    toastr.error("Lỗi... Thêm sản phẩm vào giỏ hàng không thành công.", "", {
                        timeOut: 2000,
                        progressBar: true,
                        closeButton: true
                    });
                }
            });

        });
    });
</script>
<style>
    .twitter-typeahead {
        display: block;
        width: 90%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-clip: padding-box;
        border: 1px solid #EDF1FF;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .tt-input {
        display: inline-block;
        position: absolute !important;
        top: 0px;
        left: 0px;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #EDF1FF;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .tt-hint {
        opacity: 1 !important;
        color: darkgray;
    }

    /* Container for the match list */
    .tt-menu {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        width: 100%;
    }

    /* Individual suggestion item */
    .tt-suggestion {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }

        /* Suggestion item on hover */
        .tt-suggestion:hover {
            background-color: #f5f5f5;
        }

        /* Suggestion item when it's being navigated via keyboard (i.e., arrow up/down) */
        .tt-suggestion.tt-cursor,
        .tt-suggestion:focus {
            color: #fff;
            background-color: #D19C97;
        }

        /* If the suggestion includes a header, subtext, or is divided into sections */
        .tt-suggestion .tt-header {
            font-weight: bold;
            color: #333;
        }

        .tt-suggestion .tt-subtext {
            font-size: 0.8em;
            color: #999;
        }

    .input-group-text {
        display: block !important;
    }
</style>

<script>
    $(document).ready(function () {
        // Instantiate the Bloodhound suggestion engine
        var products = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '@Url.Action("Suggest", "Products", new { area = "Admin" })?term=%QUERY',
                wildcard: '%QUERY' // This is the placeholder for the query put in by the user
            }
        });

        // Initialize the Typeahead UI
        $('#productSearch').typeahead(null, {
            name: 'products',
            source: products
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Bind click event to the search button
        $('#searchbtn').on('click', function (event) {
            event.preventDefault();  // Prevent the default form submission

            var searchTerm = $('#productSearch').val();
            $.ajax({
                url: '@Url.Action("Search", "Products", new { area = "Admin" })', // Verify the correct URL
                type: 'GET',
                data: { page: 1, searchTerm: searchTerm },
                success: function (data) {
                    console.log("Data received:", data);
                    $('#ProductContainer').html(data);
                },
                error: function () {
                    alert('Error searching products.');
                }
            });
        });

        // Optional: Trigger search on input change after a delay
        $('#productSearch').on('input', function () {
            clearTimeout(this.delay);
            this.delay = setTimeout(function () {
                $(this).trigger('search');
            }.bind(this), 1100); // Reduced delay for faster response
        }).on('search', function () {
            $('#searchbtn').click();
        });
    });
</script>
