@model IEnumerable<Niveau.Areas.Admin.Models.Products.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Products</h2>
<table class="table">
    <a href="@Url.Action("Create")" class="btn btn-primary m-2">Create New</a>
    <a asp-controller="Categories" asp-action="Index" class="btn btn-primary m-2">Category</a>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Category?.Name</td>
                <td>

                    <a class="btn btn-primary" asp-route-title="@product.Name" asp-action="Details" asp-route-id="@product.Id">View</a> |

                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@product.Id">Edit</a> |

                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>