@model IEnumerable<Niveau.Areas.Admin.Models.Products.Product>

@{
    ViewData["Title"] = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Product</title>
</head>
<body>
    <h1>Product</h1>
    <a href="@Url.Action("Create")" class="btn btn-primary m-2"><i class="fa-solid fa-plus"></i> Create New</a>
    <a asp-controller="Categories" asp-action="Index" class="btn btn-primary m-2"><i class="fa-solid fa-list"></i> Category</a>
    <div class="card">

        <div id="productListContainer" class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.OrderByDescending(p => p.IsActive))
                    {
                        <tr>
                            <td class="product-name">@product.Name</td>
                            <td>@product.Price</td>
                            <td>@product.Description</td>
                            <td>@product.Category?.Name</td>
                            <td style="color: @(product.IsActive ? "green" : "red");">
                                @((product.IsActive ? "Active" : "Disabled"))
                            </td>
                            <td>

                                <a class="btn btn-success" asp-action="Details" asp-route-id="@product.Id"><i class="fa-solid fa-eye"></i> View</a> |

                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@product.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a> |

                                @if (product.IsActive == true)
                                {
                                    <div style="display: inline-block;">
                                        <a data-status="false" data-product-id="@product.Id" class="btn btn-danger toggleStatusButton"><i class="fa-solid fa-ban"></i>  Disable</a> |

                                        <a id="deleteButton" style="display:none;"
                                           class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id"><i class="fa-solid fa-trash"></i> Delete</a>
                                    </div>
                                }
                                else
                                {
                                    <div style="display: inline-block;">
                                        <a data-status="true" data-product-id="@product.Id" class="btn active toggleStatusButton"><i class="fa-regular fa-circle-check"></i> Active</a> |

                                        <a id="deleteButton" style="display: inline-block;"
                                           class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id"><i class="fa-solid fa-trash"></i> Delete</a>
                                    </div>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
<style>
    .active {
        background-color: green; /* Green background for the active state */
        color: white; /* White text color for better readability */
    }
</style>

<script>
    $(document).ready(function () {
        $('#productListContainer').on('click', '.toggleStatusButton', function () {
            var productId = $(this).data('product-id');
            var desiredStatus = $(this).data('status');
            var confirmActionText = desiredStatus ? 'activate' : 'disable';

            var confirmAction = confirm('Are you sure you want to ' + confirmActionText + ' this product?');

            if (confirmAction) {
                $.ajax({
                    url: '@Url.Action("Status", "Products", new { area = "Admin" })', // Make sure this URL is rendered correctly
                    type: 'POST',
                    data: { id: productId, state: desiredStatus },
                    success: function (response) {
                        $('#productListContainer').load(location.href + ' #productListContainer'); // Reload part of the page
                    },
                    error: function (xhr, status, error) {
                        var errorMsg = desiredStatus ? 'activating' : 'disabling';
                        console.error('Error ' + errorMsg + ' product:', error);
                    }
                });
            }
        });
    });
</script>